I assume this is because of [RFC 1459 section 4.4.2 notice](https://tools.ietf.org/html/rfc1459#section-4.4.2)

> The difference between NOTICE and PRIVMSG is that automatic replies must never be sent in response to a NOTICE message.  This rule applies to servers too - they must not send any error reply back to the client on receipt of a notice. 


I think this is just a bug. The relevant section in the spec says:  `If enabled, servers MUST send PRIVMSG and NOTICE messages back to the client that sent them.`


m_NOTICE and m_PRIVMSG have different behaviour, it may be worth changing this up a little
